
/* Form styling */
#form-container {
    margin-top: 5vh;
    width: 60vw;
    height: 20vh;
    margin-left: auto;
    margin-right: auto;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#location-input {
    width: 300px;
}

#submit-button {
    width: fit-content;
}

.form-element {
    margin-top: 5px;
}


/* Output styling */
#weather-output {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 2px solid gray;
    background-color: rgb(200,200,200);
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.temp-info {
    font-size: 32px;
}

.temp-info-2 {
    font-size: 24px;
}

@media (max-width: 600px) {
    #weather-output {
        width: 90vw;
        height: 60vh;
        min-height: 300px;
    }
}

@media (min-width: 600px) and (max-width: 1000px) {
    #weather-output {
        width: 60vw;
    }
}